$relative: relative;
$absolute: absolute;
$flex: flex;
$flexWrap: wrap;
$justify-center: center;
$pad-top: 50px;
$width: 100%;
$MontserratAlt: 'Montserrat Alternates', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Lato: 'Lato', sans-serif;
$white: white;
$bg-color: rgb(31, 31, 31);
$pointer: pointer;
$scale: scale(1.05);
$transition: 0.4s ease;
