$relative: relative;
$absolute: absolute;
$flex: flex;
$flexWrap: wrap;
$justify-center: center;
$width: 100%;
$MontserratAlt: 'Montserrat Alternates', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Lato: 'Lato', sans-serif;
$white: white;
$pointer: pointer;
$scale: scale(1.05);
$transition: 0.4s ease;
